@import "colors";


// SEARCH SECTION CSS START
.main__homepage .search_main_sec {

    .new_to_twitter {
        padding: 10px;
        border: 1px solid #e0e0e0;
        margin-top: 15px;
        box-sizing: border-box;
        border-radius: 10px;

        >h2 {
            font-size: 20px;
            margin-bottom: 8px;
        }

        >p {
            margin-bottom: 8px;
            font-size: 15px;
            color: $profile_grey;
        }

        button.google_login {
            &:hover {
                background-color: rgba(29, 155, 240, 0.1) !important;
                border-color: rgb(29, 155, 240) !important;
            }
        }

        >p.terms_conditions {
            margin-top: 10px;
            color: $profile_grey;
            font-size: 13px;
            line-height: 1.3;

            >span {
                color: $main_color;
            }
        }
    }

    >.wht_hppning_tags {
        background-color: rgb(247, 249, 249);
        margin-top: 15px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;

        >h2.heading {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .main_tag_sec {
            padding: 15px 0;

            >.tag_type {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                color: $profile_grey;
                margin: 0;

                span {
                    &:last-child {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;

                        svg {
                            width: 20px;
                        }
                    }
                }
            }
            >h3{
                font-size: 16px;
                color: #000;
                font-weight: 700;
                margin: 0;
            }
            >p.trending_with{
                font-size: 13px;
                color: $profile_grey;
                margin: 0;
                >span{
                    color: $main_color;
                }
            }
        }
    }

}

// SEARCH SECTION CSS ENDS


// MEDIA QUERY
@media screen and (max-width: 800px) {
    .main__homepage .search__col {
        display: none;
    }
}